<h3>Recuperar Senha</h3>
<hr />
<p>Insira o email utilizado no cadastro para recuperar sua senha.
<br /> Um email contendo um link para criar uma nova senha será enviado para o seu email.</p>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 px-0">

  <app-message [message]="message" (dismiss)="onMessageClose($event)"></app-message>

  <form  [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" formControlName="email" class="form-control" [ngClass]="form.get('email') | validate">
        <div *ngIf="form.get('email').errors?.required" class="invalid-feedback">O email é obrigatório.</div>
        <div *ngIf="form.get('email').errors?.email" class="invalid-feedback">Insira um email válido.</div>
        <div *ngIf="form.get('email').errors?.emailNotExists" class="invalid-feedback">O email não existe.</div>
      </div>

      <button class="btn btn-primary" [disabled]="form.status === 'INVALID'" type="submit">Enviar</button>
      <button class="btn btn-danger" (click)="onReset()" type="button">Limpar</button>
  </form>
</div>
