<h3>Servidor</h3>
<hr />
<p>Confira as configurações do servidor.</p>

<h4>Rates</h4>
<p>
  Versão: Interlude <br>
  Xp: 1000x<br>
  Sp: 1400x<br>
  Adena: 1700x<br>
</p>

<h4>Enchant</h4>

<h4>Buffs</h4>

<h4>Moedas</h4>

<h4>Itens</h4>

<p>
  - Rate: 500 xp 500 sp 250 adena <br>
  - Boss: 2x <br>
  - Enchant: 65%
  - Blessed Scroll Enchant: 80% <br>
  - Scroll Enchant of Destruction: 30% <br>
  - Divine Scroll Enchant: 100% <br>
  - Safe: +6 <br>
  - Max. Enchant: +25 <br>
  - Buff Time: 2h <br>
  - Offline Trade 100% <br>
</p>
