<h3>Trocar Senha</h3>
<hr />
<p>Após trocar a senha sua conta será deslogada.</p>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 px-0">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

		<div class="form-group">
			<label for="current-password">Senha Atual</label>
			<input type="password" name="current-password" id="current-password" class="form-control" formControlName="current-password" [ngClass]="form.get('current-password') | validate">
      <div *ngIf="form.get('current-password').errors?.required" class="invalid-feedback">A senha atual é obrigatória.</div>
      <div *ngIf="form.get('current-password').errors?.pattern" class="invalid-feedback">Insira uma senha válida.</div>
      <div *ngIf="form.get('current-password').errors?.currentPassword" class="invalid-feedback">Senha atual não coincide.</div>
		</div>

		<div class="form-group">
			<label for="password">Nova Senha</label>
			<input type="password" name="password" id="password" class="form-control" formControlName="password" [ngClass]="form.get('password') | validate">
      <div *ngIf="form.get('password').errors?.required" class="invalid-feedback">A senha é obrigatória.</div>
      <div *ngIf="form.get('password').errors?.pattern" class="invalid-feedback">Insira uma senha válida.</div>
      <div *ngIf="form.get('password').errors?.newPassword" class="invalid-feedback">Insira uma senha diferente da atual.</div>
		</div>

		<div class="form-group">
			<label for="confirm-password">Confirmar Senha</label>
			<input type="password" name="confirm-password" id="confirm-password" class="form-control" formControlName="confirm-password" [ngClass]="form.get('confirm-password') | validate">
      <div *ngIf="form.get('confirm-password').errors?.confirmPassword" class="invalid-feedback">A senha não é igual.</div>
		</div>

    <button class="btn btn-primary" [disabled]="form.status === 'INVALID'" type="submit">Enviar</button>
    <button class="btn btn-danger" (click)="onReset()" type="button">Limpar</button>

  </form>
</div>
