<h3>Atualizar Senha</h3>
<hr />
<p>Prossiga com o processo de recuperação de senha e defina uma nova senha para sua conta.</p>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 px-0">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" name="password" id="password" formControlName="password" class="form-control" [ngClass]="form.get('password') | validate">
      <div *ngIf="form.get('password').errors?.required" class="invalid-feedback">A senha é obrigatória.</div>
      <div *ngIf="form.get('password').errors?.pattern" class="invalid-feedback">Insira uma senha válida.</div>
    </div>

    <div class="form-group">
      <label for="confirm-password">Confirmar Senha</label>
      <input type="password" name="confirm-password" id="confirm-password" formControlName="confirm-password" class="form-control" [ngClass]="form.get('confirm-password') | validate">
      <div *ngIf="form.get('confirm-password').errors?.confirmPassword" class="invalid-feedback">A senha não é igual.</div>
    </div>

    <button class="btn btn-primary" [disabled]="form.status === 'INVALID'" type="submit">Enviar</button>
    <button class="btn btn-danger" (click)="onReset()" type="button">Limpar</button>

  </form>

</div>
