<h3>Downloads</h3>
<hr />
<button class="btn btn-primary" type="submit">Novo</button>

<table class="table table-hover">
  <thead>
  <tr>
    <th class="border-top-0" scope="col">Descrição</th>
    <th class="border-top-0" scope="col">Tamanho</th>
    <th class="border-top-0 text-center" scope="col">Editar</th>
    <th class="border-top-0 text-center" scope="col">Deletar</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Client Full</td>
    <td>2.4 GB</td>
    <td class="text-center"><i class="material-icons">mode_edit</i></td>
    <td class="text-center"><i class="material-icons">delete</i></td>
  </tr>
  <tr>
    <td>Patch</td>
    <td>70 MB</td>
    <td class="text-center"><i class="material-icons">mode_edit</i></td>
    <td class="text-center"><i class="material-icons">delete</i></td>
  </tr>
  <tr>
    <td>Auto Updater</td>
    <td>8 MB</td>
    <td class="text-center"><i class="material-icons">mode_edit</i></td>
    <td class="text-center"><i class="material-icons">delete</i></td>
  </tr>
  </tbody>
</table>
